<div style="padding-top: 70px;">
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Options</th>

                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let cat of cats">
                <td>{{ cat.id }}</td>
                <td>{{ cat.name }}</td>
                <td>
                    <button class="btn btn-info" (click)="showDetails=true;
                    getCatById(cat.id)">
                                            
                    </td>
                </tr>
                </tbody>
                </table>
                </div>
                <app-cat-details *ngIf="showDetails" [cat]="selectedCat">
                </app-cat-details>
                
        </div>
    
